@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');


/* color variables */
$main-bg-color: #fbf4ff;
$secondary-bg-color: #D8BBE8;
$third-bg-color: #ede2f3;
$main-txt-color: #33204B;
$secondary-txt-color: #8B8194;
$third-txt-color: #7b7481;
$pink-color: #6f4a84;
$secondary-pink-color: #A173B1;

/* font variables */
$font-family-sans-serif:  'Inter', sans-serif;
$font-family-serif: 'Merriweather', serif;
$font-family-source-sans-serif: 'Source Sans Pro', sans-serif;


a{
      text-decoration: none;
}

.post-header{
      margin: 0;
      img{
            display: block;
            height: 30vh;
            left: calc(-60vw + 50%);
            object-fit: cover;
            position: relative;
            width: 100vw;  
            margin: 0;
            left: 0;
            right: 0;
      }
      &:after {
            background-color: rgba(132, 84, 155, 0.4);
            bottom: 0;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: auto;
            height: 30vh;
      }

}


.post-data{
      .back-link{
            color:#A173B1;
            font-family: $font-family-sans-serif;
            font-weight: 600;
            text-decoration: none;
            font-size: 1rem;
            font-family: $font-family-sans-serif;
      }

      .date{
            margin-top:30px;
            margin-bottom:10px;
            color:$secondary-txt-color;
            font-size:15px;
            font-family: $font-family-sans-serif;
      }

      .post-title{
            color:#33204B;
      }

      .post-description{
            color:$third-txt-color;
            font-family: $font-family-serif;
            font-size:1.2rem;
            line-height: 2.1rem;
      }
}

.post-social{
      display: grid;
      grid-template-columns: repeat(6, [col-start] 1fr);
      align-items: start;
      padding: 0;
      column-gap: 0px;

      .tags{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
            grid-column-start: 1;
            grid-column-end: 4;
      }
      

      .tag-button {
            padding: .3rem .6rem;
            background: #D8BBE8;
            border-radius: 5px;
            color: $main-txt-color;
            font-size: 14px;
            font-weight: 400;
            margin: .25rem 10px .25rem 0;
            opacity: 0.7;
            border: none;
      
            a{
                  text-decoration: none;
                  color:#33204B;
            }
            &:hover {
                  opacity: 1;
            }
      }

      .share{
            grid-column-start: 5;
            grid-column-end: 6;
      }
}


.post-content{
      margin-top: 40px;
      font-size:1rem;
      color:$main-txt-color;

      h1{
            font-size:1.6rem;
      }

      p{
            font-size:1.02rem;
            line-height: 2rem;
      }
}

// PAGINATION

.blog-pagination{
      display: flex;
      -moz-box-pack: justify;
      justify-content: space-between;
      border-top:1px solid $secondary-pink-color;
      padding-top: 40px;
}


.blog-nav{
      max-width: calc(50% - 0.8rem);
      width: 50%;
      display: block;

      h2{
            display: block;
            color:$secondary-pink-color;
      }

      .blog-nav-item{
            // border:1px solid $secondary-pink-color;
            margin-top: 30px;
            background-color: $third-bg-color;
            padding:20px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            min-height: 9rem;

            &:hover{
                  opacity: 0.7;
            }

            time{
                  color:$secondary-txt-color;
                  font-size:14px;
                  font-family: $font-family-sans-serif;
            }

            h3{
                  font-size: 1.1rem;
                  margin-top: 9px;
                  line-height: 1.6rem;
              }
     
      }
   
}



// .viewport-header {
//       position: relative;
//       height: 100vh;
//       display: flex;
//       flex-direction: column;
//       -moz-box-align: left;
//       align-items: left;
//       -moz-box-pack: left;
//       justify-content: center;
//       background-color: rgba(132, 84, 155, 0.8);
// }


@media screen and (max-width: 768px) {
      .blog-nav{
            .blog-nav-item{
                  min-height: 10.5rem;
            }

      }
      
}
