@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* color variables */
$main-bg-color: #fbf4ff;
$secondary-bg-color: #D8BBE8;
$third-bg-color: #ede2f3;
$main-txt-color: #33204B;
$secondary-txt-color: #8B8194;
$third-txt-color: #7b7481;
$pink-color: #6f4a84;
$secondary-pink-color: #A173B1;

/* font variables */
$font-family-sans-serif:  'Inter', sans-serif;
$font-family-serif: 'Merriweather', serif;

.blog-header{
      display: block;
      height: auto;
      left: calc(-60vw + 50%);
      object-fit: cover;
      position: relative;
      width: 100vw;  
      margin: 0;
      left: 0;
      right: 0;
      background-color: #6f4a84;
      position: relative;
      display: grid;
      grid-template-columns: repeat(12, [col-start] 1fr);
      top: 0;

}

// .blog-header{
//       background-color: #6f4a84;
//       grid-column-start: 1;
//       grid-column-end: 13;
// }

.blog-header-content{
      grid-column-start: 3;
      grid-column-end: 11;
      padding: 50px 0;

      h1{
            color:#fff;
      }

      p{
            margin-top:10px;
            font-size:1.2rem;
            line-height: 2rem;
            color: #e0d4e8;
            font-family: $font-family-sans-serif;
            font-weight: 500;
      }
}


.posts {
      list-style-type: none;
      margin:0;
}

.post {
      margin: 1rem 0;
      background:#f2f2f2;
      padding:1rem;

      a{
            color:blueviolet;
            display: block;
            
      }
      
      a:hover{
            
      }
      p{
            padding-top:10px;
            font-style: italic;
            color:#878787;
            font-size: 0.9rem;
      }
}

.post:hover{
      background:#ccc;
}

.pagination{
      display: flex;
      font-size: 1.4rem;
      -moz-box-pack: justify;
      justify-content: space-between;

      .page-link{
            text-decoration: none;
      }
}