@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* color variables */
$main-bg-color: #fbf4ff;
$secondary-bg-color: #D8BBE8;
$main-txt-color: #33204B;
$secondary-txt-color: #7f7687;
$pink-color: #6f4a84;

/* font variables */
$font-family-sans-serif:  'Inter', sans-serif;
$font-family-serif: 'Merriweather', serif;


/* 
"""
FULL VIDEO BANNER
      - style video as background
      - style full banner components: title, greeting, icons, button
"""
*/
video {
      object-fit: cover;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 55px;
      left: 0;
}

.viewport-header {
      position: relative;
      height: 100vh;
      background-color: rgba(132, 84, 155, 0.8);
      display: grid;
      grid-template-columns: repeat(12,1fr);
      grid-column-gap: 0;
      grid-row-gap: 0;

      .full-header-container{
            display: inline-block;
            grid-column-start: 3;
            grid-column-end: 11;
            display: flex;
            flex-direction: column;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            align-content: center;
            text-align: center;
      }
      
      h1 {
            color:#fff;
            font-size: 4.5rem;
      }

      h2 {
            color:#e0d4e8;
            font-size: 2rem;
            line-height: 2.55rem;
            font-weight: 500;
            
      }

      .socialIcons{
            list-style-type: none;
            border-bottom: 0;
            font-size: 1.35em;
            padding-left: 0;
            margin-left:0;

            li{
                  margin-top:0.6em;
                  display: inline-block;
                  margin-right: 1em;
                  margin-bottom: 0;
                  opacity: 0.8;

                  &:hover{
                        opacity: 0.5;
                  }
                  &:last-child{
                        margin-right: 0;
                  }
            }

            img {
                  height: 1.5em;
            }
      }


      button.header-button {
            display: inline-block;
            padding: .6rem .8rem;
            background: $main-bg-color;
            border-radius: 6px;
            font-size: 1.2rem;
            margin: .7rem 0 0 0;
            text-decoration: none;
            width: auto;
            max-width: 460px;
            border: none;
            &:hover{
                  opacity: 1;
            }
      }
      

      a{
            text-decoration: none;
            color: $pink-color;
            font-weight: 500;
      }
}


/* 
"""
ABOUT CONTAINER
      - style about section
"""
*/
.about-container{
      display: grid;
      grid-template-columns: repeat(5,1fr);
      grid-column-gap: 0;
      grid-row-gap: 0;
}

.about-image {
      display: inline-block;
      margin-right:1.45rem;
      grid-column-start: 1;
      grid-column-end: 2;

}

.about-image img{
      border-radius: 50%;
      max-width: 200px;
}

.about-text{
      display: inline-block;
      grid-column-start: 2;
      grid-column-end: 6;

      .headline{
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 1.55rem;
            font-family: $font-family-sans-serif;
            color:$secondary-txt-color;
      }

      .socialIcons{
            list-style-type: none;
            border-bottom: 0;
            font-size: 1.75em;
            padding-left: 0;
            margin-left:0;
      }

      .socialIcons li{
            display: inline-block;
            margin-right: .8em;
            margin-bottom: 0;
      }

      .socialIcons li:hover{
            opacity: 0.5;
      }

      .socialIcons img {
            height: .9em;
      }
      
}

/* 
"""
RESPONSIVE
      - style components responsive
"""
*/
@media screen and (max-width: 1760px) {
      .full-header-container{
            grid-column-start: 3;
            grid-column-end: 11;
      }
      
}

@media screen and (max-width: 1200px) {
     
}

@media screen and (max-width: 1024px) {
      .viewport-header {  
            .full-header-container{
                  grid-column-start: 2;
                  grid-column-end: 11;
            }
      }
     
}


@media screen and (max-width: 768px) {
      .header-image img{
            max-width: 300px;
      }
      .header-image, .header-text{
            grid-column-start: 1;
            grid-column-end: 6;
            justify-self: center;
      }
     
}

@media (max-width: 700px) {
      .viewport-header, video  {
            min-height: 700px; //fix height on mobile
            
      }
      .about-image {
            grid-column-start: 1;
            grid-column-end: 6;
      }
      
      .about-image img{
            border-radius: 50%;
            max-width: 230px;
      }
      
      .about-text{
            display: inline-block;
            grid-column-start: 1;
            grid-column-end: 6;
      }
}


@media (max-height: 600px) {
      .viewport-header, video  {
            min-height: 700px;
      }
}

@media screen and (max-width: 600px) {
      .viewport-header, video  {
            min-height: 700px; //fix height on mobile
      }

      .viewport-header{
            .full-header-container{
                  align-items: flex-start; 
                  text-align: left;
            }
            h1{
                  font-size: 3rem;
            }   
            h2{
                  font-size:1.8rem;
            }  
            button.header-button {
                  font-size:1rem;
            }
            
      }
}