$gray-darker:               #444444;
$gray-dark:                 #696969;
$gray:                      #999999;
$gray-light:                #cccccc;
$gray-lighter:              #ececec;
$gray-lightest:             lighten($gray-lighter,4%);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font variables */
$font-family-sans-serif:  'Inter', sans-serif;
$font-family-serif: 'Merriweather', serif;

$main-bg-color: #fbf4ff;
$main-txt-color: #33204B;
$secondary-txt-color: #7f7687;
$pink-color: #844a7e;
$pink-color-2:#C551B9;

*,
*::before,
*::after { 
  box-sizing: border-box;
}


.btn {
  background-color: white;
  border: 1px solid $gray-light;
  border-radius: 6px;
  color: $main-txt-color;
  padding: 0.5rem;
  text-transform: lowercase;
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.cards__item {
  display: flex;
  padding-right: 2.2rem;
  padding-bottom: 2rem;
 
  @media(min-width: 1500px) {
    width: 50%;  
  }
  @media(max-width: 1499px) {
    width: 33.3333%;
  }

  @media screen and (max-width: 900px) {
      width: 50%;  
  }
  
  @media screen and (max-width: 768px) {
      width: 100%;
  }
  
}

.card {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  -webkit-transition: -webkit-box-shadow .35s ease;
  transition: -webkit-box-shadow .35s ease;
  transition: box-shadow .35s ease;
  transition: box-shadow .35s ease, -webkit-box-shadow .35s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &:hover{
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  }
}

.card__title {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 9px;
  font-family: $font-family-sans-serif;
}

.card__date{
  margin-bottom:10px;
  color:$secondary-txt-color;
  font-size:15px;
  font-family: $font-family-sans-serif;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem 2rem 2rem 2rem;
  p{
    font-size: 1rem;
  }
  
}

.card__title a{
  text-decoration: none;
  color: $main-txt-color;
  background-image: linear-gradient(0deg,rgba(185, 125, 235, 0.3) 0,rgba(185, 125, 235,.4) 30%,transparent 40%,transparent);
}
.card__title a:hover{
  background-image: linear-gradient(0deg,rgba(185, 125, 235,.7) 0,rgba(185, 125, 235,.7) 30%,transparent 40%,transparent);
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.card__image img{
  width: 100%; /* width of container */
  height: 200px; /* height of container */
  object-fit: cover;
}