@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* color variables */
$main-bg-color: #fbf4ff;
$main-txt-color: #33204B;
$secondary-txt-color: #7f7687;
$pink-color: #844a7e;

/* font variables */
$font-family-sans-serif:  'Inter', sans-serif;
$font-family-serif: 'Merriweather', serif;

.footer{
      padding:50px 0px;
      display: block;
      text-align: center;
      bottom:0;
      grid-column-start: 1;
      grid-column-end: 13;
      // grid-row: row-line-6;
      grid-row-start: 5;
      grid-row-end: 6;
      background-color: $main-txt-color;
      color:#fff;
      .footerContent{
            font-family: $font-family-serif;
            text-align: center;
            margin: 1em 0;
            font-size: 0.9em;
      }

}

.footer{
      p{
            color:#fff;
      }
      p a{
            font-weight: bold;
            text-decoration: none;
            color:#fff;
            background-image: linear-gradient(0deg,rgba(151, 99, 194, 0.5) 0,rgba(151, 99, 194,.5) 30%,transparent 40%,transparent);
      }
      p a:hover{
            color:#fff;
            background-image: linear-gradient(0deg,rgba(151, 99, 194,.7) 0,rgba(151, 99, 194,.7) 30%,transparent 40%,transparent);
      }
}



.socialIcons{
      list-style-type: none;
      border-bottom: 0;
      font-size: 1.75em;
      padding-left: 0;
      margin-left:0;
      margin-bottom: 15px;      
}

.socialIcons li{
      display: inline-block;
      margin-right:1em;
      opacity: 0.44;

      &:last-child{
            margin-right: 0;
      }
}

.socialIcons li:hover{
      opacity: 1;
      transition: 0.8s;
}

.socialIcons img {
      width: 35px;
}