@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font variables */
$font-family-sans-serif:  'Inter', sans-serif;
$font-family-serif: 'Merriweather', serif;

$main-bg-color: #fbf4ff;
$main-txt-color: #342843;
$secondary-txt-color: #7f7687;
$pink-color: #844a7e;
$pink-color-2:#C551B9;

.header {
      margin: 0 auto;
      padding: 0;
      z-index: 99;
}

.nav-container {
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
      height: 55px;
      top: 0;
      line-height: 55px;
      background: $main-txt-color;
      border-bottom: 4px solid $pink-color-2;
      background-clip: padding-box;
      font-family: $font-family-sans-serif;
      display: grid;
      grid-template-columns: repeat(12, [col-start] 1fr);
      

.nav-brand {
      margin-right: auto;
      text-transform: uppercase;
      font-weight: 600;
      color:#fff;
      text-decoration: none;
      grid-column-start: 4;
      grid-column-end: 5;
}

.nav-list {
      margin: 0;
      padding: 0;
      list-style: none;
      grid-column-start: 6;
      grid-column-end: 10;
      justify-content: right;

      li {
            margin: 0px 10px;
            display: block;
            text-align: center;
            float: right;
      }

      a{
            text-decoration: none;
      }

      .nav-item {
            line-height: 55px;
            color: #fff;
            font-size: 0.9rem;
            margin-right: 1.3rem;
            text-decoration: none;
      }

      .nav-item:hover {
            color: #d6bddc;
      }

      .active-nav-item {
            color: #fff;
            font-weight: bold;
      }
}


//responsive

@media screen and (max-width: 1760px) {
      .nav-brand{
            grid-column-start: 3;
            grid-column-end: 4;
      }
      .nav-list{
            grid-column-start: 5;
            grid-column-end: 11;
      }
     
}


@media screen and (max-width: 1024px) {
      .nav-brand{
            grid-column-start: 2;
            grid-column-end: 4;
      }
      .nav-list{
            grid-column-start: 5;
            grid-column-end: 11;
      }
     
}


@media screen and (max-width: 768px) {
     
     
}

@media screen and (max-width: 480px) {
     
}


