@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font variables */
$font-family-sans-serif:  'Inter', sans-serif;
$main-bg-color: #fbf4ff;
$main-txt-color: #33204B;
$secondary-txt-color: #7f7687;
$pink-color: #201a20;
$pink-color-2:#C551B9;

.button{
      font-family: $font-family-sans-serif;
      margin-right: 10px;
      text-decoration: none;
      cursor: pointer;
      padding: 6px;
      border-radius: 6px;
      font-size: 12px;
}

.inline{
      display: inline-block;
      margin-left:30px;
      margin-top: -3px;
}

/* 
"""
RESPONSIVE
      - style components responsive
"""
*/
@media screen and (max-width: 1024px) {
      .inline{
            margin-left: 50px;
      }
}


@media screen and (max-width: 768px) {
      .inline{
            margin-left: 100px;
      }
}

@media screen and (max-width: 540px) {
      .inline{
            margin-left: 170px;
      }
}