@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* color variables */
$main-bg-color: #fbf4ff;
$main-txt-color: #33204B;
$txt-color: #251b33;
$secondary-txt-color: #7f7687;
$pink-color: #844a7e;

/* font variables */
$font-family-sans-serif:  'Inter', sans-serif;
$font-family-serif: 'Merriweather', serif;


/* 
"""
SHARED CONTAINER AND SECTIONS
      - style sections 
"""
*/
*{
      color: $txt-color;
}

html{
      font-size: 100%;
}

body{
      background-color: $main-bg-color;
}

.container{
      display: grid;
      grid-template-columns: repeat(12, [col-start] 1fr);
      grid-template-rows: 1fr auto;
      // grid-template-rows: [row-line-1] 50px [row-line-2] auto [row-line-3] auto [row-line-4] auto [row-line-5] auto [row-line-6];
      align-items: start;
      padding: 0;
      column-gap: 0px;
      /*Below provides sticky footer*/
      min-height: 100vh;
}

.content{
      grid-column-start: 1;
      grid-column-end: 13;
      display: block;
      text-align: justify;
}

.colored-section {
      display: grid;
      grid-template-columns: repeat(12, [col-start] 1fr);
      background: $main-bg-color;
      padding:80px 0;
      background-image: url('/images/background.png');
      background-position: top;
      background-attachment: fixed;
      text-align: left;
      color: $txt-color;
}

.white-section {
      display: grid;
      grid-template-columns: repeat(12, [col-start] 1fr);
      background: #fff;
      padding:80px 0;
      background-position: top;
      background-attachment: fixed;
      text-align: left;
      color: $txt-color;
}

.white-section-decorated {
      display: grid;
      grid-template-columns: repeat(12, [col-start] 1fr);
      background: #fff;
      padding:80px 0;
      background-image: url('/images/background.png');
      background-position: top;
      background-attachment: fixed;
      text-align: left;
      color: $txt-color;
}

.section-content {
      grid-column-start: 3;
      grid-column-end: 11;

      h2{
            font-size: 2.1rem;
      }
      p{
            font-size: 1.1rem;
            line-height: 2.1rem;
      }

}

.section-content-4-10 {
      grid-column-start: 4;
      grid-column-end: 10;
}

.title-content{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;

      h2{
            margin-right: 30px;
      }

}




.content h1{
      font-size: 2.25rem;
      font-family: $font-family-sans-serif;
      display: inline-block;
}

.content p{
      font-family: $font-family-serif;
}

.content p a{
      text-decoration: none;
      font-weight: bold;
      background-image: linear-gradient(0deg,rgba(185, 125, 235, 0.4) 0,rgba(185, 125, 235,.4) 30%,transparent 40%,transparent);
}
.content p a:hover{
      background-image: linear-gradient(0deg,rgba(185, 125, 235,.7) 0,rgba(185, 125, 235,.7) 30%,transparent 40%,transparent);
}

.button {
      display: inline-block;
      padding: .2rem .8rem;
      background: #D8BBE8;
      border-radius: 12px;
      color: $main-txt-color;
      font-size: .8rem;
      font-weight: 400;
      opacity: 0.8;
      text-decoration: none;
      position:relative;
      top:-5px;
}

.button:hover {
      opacity: 1;
}


/* 
"""
RESPONSIVE
      - style components responsive
"""
*/
@media screen and (max-width: 1760px) {
      
}

@media screen and (max-width: 1024px) {
      .section-content, .section-content-4-10{
            grid-column-start: 2;
            grid-column-end: 12;
      }
     
     
}


@media screen and (max-width: 768px) {
     
}


@media screen and (max-width: 480px) {
     
}