@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* color variables */
$main-bg-color: #fbf4ff;
$main-txt-color: #342843;
$secondary-txt-color: #7f7687;
$pink-color: #844a7e;

/* font variables */
$font-family-sans-serif:  'Inter', sans-serif;
$font-family-serif: 'Merriweather', serif;


.container{
      display: grid;
      grid-template-columns: repeat(12, [col-start] 1fr);
      grid-template-rows: [row-line-1] 50px [row-line-2] auto [row-line-3] auto [row-line-4] auto [row-line-5] auto [row-line-6];
      align-items: start;
      padding: 0;
      column-gap: 0px;
      /*Below provides sticky footer*/
      min-height: 100vh;
}

.content{
      grid-column-start: 1;
      grid-column-end: 13;
      display: block;
      text-align: justify;
}

.coloredSection {
      background: $main-bg-color;
      padding:80px 25%;
      background-image: url('/images/background.png');
      background-position: top;
      background-attachment: fixed;
      text-align: left;
}

.whiteSection {
      background: #fff;
      padding:80px 25%;
      background-image: url('/images/background.png');
      background-position: top;
      background-attachment: fixed;
      text-align: left;
}

.content h1{
      font-size: 2.25rem;
      font-family: $font-family-sans-serif;
}

.content p{
      font-family: $font-family-serif;
}

.content p a{
      font-weight: bold;
      background-image: linear-gradient(0deg,rgba(194, 99, 184,.4) 0,rgba(194, 99, 184,.4) 30%,transparent 40%,transparent);
}
.content p a:hover{
      background-image: linear-gradient(0deg,rgba(194, 99, 184,.7) 0,rgba(194, 99, 184,.7) 30%,transparent 40%,transparent);
}

.button {
      display: inline-block;
      padding: .4rem .6rem;
      background: #D6BDDC;
      border-radius: 5px;
      color: $main-txt-color;
      font-size: .75rem;
      font-weight: 400;
      margin: .25rem 1rem 0 2rem;
      opacity: 0.8;
      text-decoration: none;
}

.button:hover {
      opacity: 1;
}

//full header
.full-header {
      background: $pink-color;
      background-image: url('/images/carla_banner.jpg');
      background-size: cover;
      // transform: scaleX(-1);
      position: relative;
      background-attachment: fixed;
      text-align: left;
      height: 100vh;
      box-shadow: inset 0 0 0 1000px rgba(132, 74, 126,.9);
      font-family: $font-family-sans-serif;

}

//responsive


@media screen and (max-width: 1760px) {
      .coloredSection, .whiteSection {
            padding:80px 16%;
      }
     
}

@media screen and (max-width: 1024px) {
      .coloredSection, .whiteSection {
            padding:80px 8%;
      }
     
}


@media screen and (max-width: 768px) {
     
}


@media screen and (max-width: 480px) {
     
}
