.container{
      display: grid;
      /* grid-template-columns: auto; */
      grid-template-columns: repeat(12, [col-start] 1fr);
      // grid-template-rows: 80px auto auto;
      grid-template-rows: [row-line-1] 50px [row-line-2] auto [row-line-3] auto [row-line-4] auto [row-line-5] auto [row-line-6];
      align-items: start;
      padding: 0;
      column-gap: 0px;
      /*Below provides sticky footer*/
      min-height: 100vh;
}

.content{
      margin-top:100px;
      grid-column-start: 3;
      grid-column-end: 11;
      display: block;
      text-align: justify;  
      
}