/* font variables */
$font-family-sans-serif:  'Inter', sans-serif;
$font-family-serif: 'Merriweather', serif;


.blog-header{
      display: block;
      height: auto;
      width: 100%;  
      margin: 0;
      left: 0;
      right: 0;
      z-index: 5;
      position: relative;
      display: grid;
      grid-template-columns: repeat(12, [col-start] 1fr);
      top: 0;
      height: auto;
}

.bg{
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      // background-image: url('/images/blog-bg-stabilo.jpg');
      background-size: cover;
      width: 100%;
      height: 100%;
      &:after {
            background-color: rgba(132, 84, 155, 0.84);
            bottom: 0;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            z-index: auto;
            height: 100%;
      }
          
}

.blog-header-content{
      grid-column-start: 3;
      grid-column-end: 11;
      padding: 60px 0;

      h1{
            color:#fff;
      }

      p{
            margin-top:10px;
            font-size:1.2rem;
            line-height: 2rem;
            color: #e0d4e8;
            font-family: $font-family-sans-serif;
            font-weight: 500;
            margin-bottom: 0;
      }
}

@media screen and (max-width: 1024px) {
      .blog-header-content{
            grid-column-start: 2;
            grid-column-end: 12;
      }
     
}

@media screen and (max-width: 768px){
      .blog-header-content{
            padding: 40px 0;
            p{
                  margin-top:10px;
                  font-size:1rem;
                  line-height: 1.8rem;
            }
      }
}