$gray-darker:               #444444;
$gray-dark:                 #696969;
$gray:                      #999999;
$gray-light:                #cccccc;
$gray-lighter:              #ececec;
$gray-lightest:             lighten($gray-lighter,4%);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font variables */
$font-family-sans-serif:  'Inter', sans-serif;
$font-family-serif: 'Merriweather', serif;

$main-bg-color: #fbf4ff;
$main-txt-color: #33204B;
$secondary-txt-color: #7f7687;
$pink-color: #6f4a84;
$pink-color2: #995692;
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

.card__label {
  position: absolute;
  z-index: 2;
  padding: 0px 10px;
  margin: 1.5rem 0 1rem 1.5rem;
  display: inline-block;
  line-height: 20px;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  transition: all 0.2s ease;

  &:hover{
    color: rgba(255, 255, 255, 0.9);
    border: 2px solid #995692;
    background: #995692;
  }
}

.cards__item {
  display: flex;
  padding-right: 2.2rem;
  padding-bottom: 2rem;
  width: 50%;
  &:last-child{
    padding-right:0;
  }

  @media(min-width: 1300px) {
    width: 40%;  
  }

  @media screen and (max-width: 900px) {
    width: 50%;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.card img{
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  -webkit-transition: -webkit-box-shadow .35s ease;
  transition: -webkit-box-shadow .35s ease;
  transition: box-shadow .35s ease;
  transition: box-shadow .35s ease, -webkit-box-shadow .35s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%; /* width of container */
  height: auto; /* height of container */
  object-fit: cover;

  &:hover{
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  }
}

